<!DOCTYPE html>
<html lang="es">

<head>
    <title>Zapatería Online: Añadir una categoría</title>
    <th:block th:include="fragmentos/general.html :: headerfiles"></th:block>
</head>

<body>
    <div class="container-fluid">
        <div th:replace="fragmentos/general.html :: navigation"> </div>

        <div class="container">
            <h3>Añadir categorias</h3>

            <form>
                <div class="mb-3">
                    <label>Nombre categoria: </label>
                    <input name="nombre" placeholder="Escribe aquí el nombre"/>
                </div>
                <div>
                    <label for="padre">Seleccione la categoria padre:</label>
                    <select>
                        <option>Sin padre</option>
                        <option>Deportivo</option>
                    </select>
                </div>
                <div>
                    <button class="btn" type="submit">Enviar</button>
                </div>
            </form>

            <div th:replace="fragmentos/general.html :: footer"></div>
        </div>
    </div>
</body>

</html>