<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Gestión usuarios</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
  <div class="container-fluid">
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <h3>Lista de usuarios</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Teléfono</td>
          <td>Username</td>
          <td>Direcciones</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="usuario: ${usuarios}">
          <td th:text="${usuario.nombre}"></td>
          <td th:text="${usuario.apellido}"></td>

          <td th:text="${usuario.telefono != null} ? ${usuario.telefono.numero}: 'Sin telefono'"></td>
          <td th:text="${usuario.username}"></td>

          <td th:if="${usuario.direccion == null}">
            <a class="btn btn-primary" href="#">Añadir dirección</a>
          </td>
          <td th:unless="${usuario.direccion == null}">
            <span th:text="${usuario.direccion.tipoVia}"></span>
            <span th:text="${usuario.direccion.nombreVia}"></span>,
            número: <span th:text="${usuario.direccion.numero}"></span>
            planta: <span th:text="${usuario.direccion.planta}"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div th:replace="fragmentos/general.html :: footer"></div>
  </div>
</body>

</html>